body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    height: 100vh;
  }
  
  .contenedor {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .resultado {
    padding: 15px;
    background-color: #e8f4ff;
    border: 1px solid #2196f3;
    border-radius: 5px;
    font-size: 18px;
    opacity: 1;
    transition: opacity 3s ease;
    line-height: 1.6;
  }
  
  .oculto {
    display: none;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 3s ease;
  }

  footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    color: grey;
    margin-top: auto;
}
  